.App-header {
  background-image: url('./backround2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-top: 0; 
  text-align: center;
  color: #00ff00;
  position: relative;
}

.loading-icon {
  width: 2.5rem;    
  height: 2.5rem;   
  margin-top: -1rem;
  object-fit: contain;        
  color: #660000;
}

.header-title {
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0.15rem 0.15rem 0.3rem #660000;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.syntax-highlighter {
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  width: 100% !important;
}

.input-container-horizontal {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.25rem;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap; 
}

.input-field {
  width: 90vw; 
  max-width: 25rem; 
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333;
  border: 0.125rem solid #660000;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: #fff;
}

.button-container {
  display: flex;            
  align-items: center;      
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap; 
  justify-content: center;
}

.generate-button {
  background-color: #660000;
  color: #ffffff;
  padding: 0.75rem 1.875rem;
  border-radius: 0.5rem;
  border: 0.1875rem solid #000000;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.generate-button:hover {
  background-color: #8b0000;
  transform: scale(1.02);
}

.generated-payload-title {
  color: #660000;  
  font-family: 'Orbitron', sans-serif;  
  text-shadow: 0.125rem 0.125rem 0.25rem #000000;  
  margin-bottom: 0.625rem;  
  font-weight: bold;
  border-bottom: 0.125rem solid #ffffff;
  font-size: 1.5rem;
}

.payload-wrapper {
  position: relative;
  max-width: 72rem;
  width: 90vw;
  margin: 1.25rem auto;  
  text-align: left;  
  background: linear-gradient(145deg, #282c34, #1e1e1e);  
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 0.1875rem solid #660000;  
  opacity: 0.97;
}

.payload-content {
  text-align: left;
  border-radius: 0.5rem;
  overflow-y: auto;
  max-height: 37.5rem;
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-wrap: anywhere; /* Allows breaking at any point if necessary */
  word-break: break-word;
  hyphens: auto; /* Adds hyphens where words are broken */
  color: #00ff00;
  line-height: 1.3;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%; /* Ensures content doesn't exceed container */
}

.payload-content pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.App-link:hover {
  color: #ff0055;
  text-decoration: underline;
}

/* Logo Styles */
.App-logo {
  max-width: 15.625rem;      
  max-height: 15.625rem;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  margin-bottom: -1.875rem;
}

/* Keyframes for spinning */
@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Main App Content with Sidebar Space - Use relative units and responsive adjustments */
.main-content {
  margin-left: 13.75rem; 
  padding: 0;
}

/* Ensure that datalist dropdown is visible and styled */
::-webkit-calendar-picker-indicator {
  display: none;
}

.copy-button-payload {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #660000;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.copy-button-payload:hover {
  background-color: #00CED1;
  color: #000;
}

/* New Styles for Payload Text */
.payload-text {
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-family: 'Courier New', Courier, monospace;
}

/* Syntax Highlighting Styles */

/* Numbers */
.number {
  color: #d62929;
}

/* The word "or" */
.or-word {
  color: #d62929;
  font-weight: bold;
}

/* Grey Symbols: '-' and '/' */
.grey-symbol {
  color: #778899;
}

/* Yellow Symbols: ! @ # $ % ^ & * ( ) */
.yellow-symbol {
  color: #d62929;
}

/* Green Symbols: : ; " ' > < ? { } [ ] \ */
.green-symbol {
  color: #e6c300;
}

